@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E5E5 !important;
}
a{
  text-decoration: none !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul li{
  list-style-type: none;
}
ul{
  margin-left: -30px;
}

/* ----------------- */

.navbar a{
  color: white;
  font-weight: 600;
font-size: 16px;
line-height: 22px;
}
.navbar a:hover{
  color: white;
}
.minheightContainer{
  min-height: 650px;
}
.homecontainer{
  min-height: calc(100vh - 91.5px);
}
nav span img:hover{
  cursor: pointer;
}
.navbar-toggler:focus {
  box-shadow: 0 0 1px 2px rgba(rgb(55, 55, 251), blue, rgb(6, 30, 245), 0.1) !important;
}
.yellowline{
  width: 100%;
  height: 8px;
  background: #FFC007;
}
/* home page style */

.linehr{
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background: #2B2B30;
}
.phoneposition{
  position: relative;
  bottom: -48px;
  right: 0;
}

/* currency */
.dangertext{
  color: #F75555;
  font-weight: 600;
font-size: 12px;
line-height: 16px;
font-family: 'Noto Sans',sans-serif;
}
.successtext{
  color: #32B141;
  font-weight: 600;
font-size: 12px;
line-height: 16px;
font-family: 'Noto Sans',sans-serif;
}
.defaulth2{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
}
.allcategory{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
color: #FFC007;
cursor: pointer;
}

/* appstore styling */
.backgroundrow{
  background: #FFC007;
border-radius: 12px;

}
.positioniphone{
  position: absolute;
  right: 10%;
  bottom: 0;
}
.slick-track{
  width: 7200px !important;
}
.slick-slide{
  width: 320px !important;
  margin: 20px 28px;
}
.hrfooter{
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background: #A5AAB4;
  opacity: 0.12;;
}
footer .footerp{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #2B2B30;
}
footer .logop{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #2B2B30;
}
/* line */
.line{
  width: 100%;
  height: 1px;
  background-color: #E6E9EF;
}
.columnline{
  width: 2px;
height: 99px;
background: #FFC007;
}
.quote{
  padding: 14px;
background: rgba(255, 192, 7, 0.5);
border-radius: 16px;
}

/* not found  */
@media (min-width:774px) and (max-width:1000px) {
  .margintopmedia{
    margin-top: 16px;
  }
 .positioniphone{
  display: none;
 } 
 .white-sm{
  color: white !important;
 }
}

@media (min-width:476px) and (max-width:773.9px) {
  .margintopmedia{
    margin-top: 16px;
  }
  .marginlefth1{
    margin-left: 26px;
  }
  .defaulth2{
    font-size: 16px;
  }
  .allcategory{
    font-size: 16px;
  }
  .dflexcategory{
    justify-content: center !important;
    padding: 0 20px;
    
  }
  .positioniphone{
    display: none;
   }
   .white-sm{
    color: white !important;
   }
   .paddingstore{
    padding: 0 !important;
   }
   .justifycontentcenterfooter{
    justify-content: center !important;
    display: flex;
   }
}

@media (min-width:0px) and (max-width:475.9px) {
  .notfoundd-flex{
    flex-wrap: wrap;
    justify-content: center;
  }
  .margintopmedia{
    margin-top: 16px;
  }
  .marginlefth1{
    margin-left: 20px;
  }
  .defaulth2{
    font-size: 16px;
  }
  .allcategory{
    font-size: 16px;
  }
  .dflexcategory{
    justify-content: center !important;
    padding: 0 20px;
  }
  .positioniphone{
    display: none;
   }
   .white-sm{
    color: white !important;
    font-size: smaller;
   }
   .justifycontentcenterfooter{
    justify-content: center !important;
    display: flex;
   }
}